body p{
	margin: 0;
	padding: 0;
}
.hongbao-top-base {
	height: 6rem;
	background-color: rgb(245, 41, 76);
}
.hongbao-top-content {
	float: left;
	margin-top: 0.5rem;
	margin-left: 1rem;
}
.hongbao-name {
	width: 4rem;
	text-align: center;
	font-size: 0.75rem;
	color: white;
}
.hongbao-face-area-base {
	float: left;
}
.hongbao-face {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	overflow: hidden;
}
.hongbao-text {
	float: left;
	margin-left: 0.5rem;
	margin-top: 1rem;
}
.hongbao-dialog-img-base {
	width: 15rem;
	height: auto;
}
.hongbao-mid-base {
	height: 12rem;
}
.hongbao-center-img {
	float: left;
	margin-top: 1rem;
	width: 100%;
	text-align: center;
}
.hongbao-center-img-base {
	height: 10rem;
	width: auto;
}
.hongbao-bottom-base {
	width: 94%;
	margin-left: 3%;
}
.hongbao-detail-title {
	height: 2.5rem;
	background-color: rgb(245, 41, 76);
	color: white;
	width: 100%;
	text-align: center;
	line-height: 2.5rem;
	border-radius: 5px;
}
.hongbao-detail-single-card-content {
	float: left;
	padding-top: 0.5rem;
	padding-left: 1rem;
	width: 100%;
}
.hongbao-detail-single-card-img {
	float: left;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	overflow: hidden;
}
.hongbao-detail-single-card-info {
	float: left;
	margin-top: 1rem;
	margin-left: 0.5rem;
}
.hongbao-detail-single-card-name {
	font-size: 1rem;
	line-height: 1rem;
	font-weight: bold;
}
.hongbao-detail-single-card-time {
	margin-top: 0.5rem;
	color: gray;
}
.hongbao-detail-single-card-history {
	float: right;
	margin-right: 2rem;
	margin-top: 1rem;
	font-size: 1rem;
	line-height: 1.25rem;
	color: rgb(245, 41, 76);
	font-weight: bold;
}
.hongbao-dialog-text {
	position: fixed;
	top: 2.25rem;
	right: 2rem;
	font-size: 0.75rem;
}
.hongbao-dialog-text-one-first {
	font-size: 1rem;
	line-height: 1rem;
	width: 15rem;
	text-align: center;
	color: rgb(245, 41, 76);
}
.hongbao-dialog-text-one-second {
	font-size: 0.75rem;
	line-height: 0.75rem;
	margin-top: 0.5rem;
	width: 15rem;
	text-align: center;
	color: rgb(245, 41, 76);
}
.hongbao-center-img-top-text-one {
	position: fixed;
	top: 8.5rem;
	color: white;
	width: 100%;
	font-size: 1rem;
	text-align: center;
}
.hongbao-center-img-button-one {
	position: fixed;
	top: 14rem;
	width: 100%;
	text-align: center;
}
.hongbao-center-img-button-base-one {
	background-color: rgb(255, 251, 187);
	border: none;
	border-radius: 10px;
	width: 5rem;
	height: 2rem;
	color: rgb(245, 41, 76);
	font-size: 1rem;
	line-height: 1.25rem;
}
.hongbao-dialog-text-two-first {
	font-size: 1rem;
	line-height: 1rem;
	width: 15rem;
	text-align: center;
	color: rgb(245, 41, 76);
}
.hongbao-dialog-text-two-second {
	font-size: 0.75rem;
	line-height: 0.75rem;
	margin-top: 0.5rem;
	width: 15rem;
	text-align: center;
	color: rgb(245, 41, 76);
}
.hongbao-center-img-top-text-two {
	position: fixed;
	top: 9rem;
	color: red;
	width: 100%;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
}

.hongbao-center-img-mid-text-two {
	position: fixed;
	top: 11.5rem;
	color: rgb(255, 251, 187);
	width: 100%;
	font-size: 0.75rem;
	text-align: center;
}
.hongbao-center-img-button-two {
	position: fixed;
	top: 12.5rem;
	width: 100%;
	left: 8.5rem;
}
.hongbao-center-img-button-base-two {
	text-align: center;
	float: left;
	clear: both;
	background-color: rgb(255, 251, 187);
	border: none;
	border-radius: 15px;
	width: 6rem;
	height: 1.5rem;
	color: rgb(245, 41, 76);
	font-size: 0.75rem;
	margin-top: 0.5rem;
}
.hongbao-dialog-text-three-first {
	font-size: 1rem;
	line-height: 1rem;
	width: 15rem;
	text-align: center;
	color: rgb(245, 41, 76);
}
.hongbao-dialog-text-three-second {
	font-size: 0.75rem;
	line-height: 0.75rem;
	margin-top: 0.5rem;
	width: 15rem;
	text-align: center;
	color: rgb(245, 41, 76);
}
.hongbao-center-img-top-text-three {
	position: fixed;
	top: 8.75rem;
	color: white;
	width: 100%;
	font-size: 1rem;
	text-align: center;
}
.hongbao-center-img-mid-text-three {
	position: fixed;
	top: 11.5rem;
	color: rgb(255, 251, 187);
	width: 100%;
	font-size: 0.75rem;
	text-align: center;
}
.hongbao-center-img-button-three {
	position: fixed;
	top: 12rem;
	width: 100%;
	left: 8.5rem;
}
.hongbao-center-img-button-base-three {
	text-align: center;
	float: left;
	clear: both;
	background-color: rgb(255, 251, 187);
	border: none;
	border-radius: 15px;
	width: 6rem;
	height: 1.5rem;
	color: rgb(245, 41, 76);
	font-size: 0.75rem;
	margin-top: 0.5rem;
}